{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="masthead">
  <div class="container">
    <div class="lead categories">
        <div class="row">
            {% for id, category in categories %}
            <div class="col-lg-4 col-md-6">
                <a class="btn btn-block btn-lg btn-outline-inverse hashtag {% if id == active %} active{% endif %}" href="/?category={{ id }}">{{ category.title }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
    {% for list in lists %}
        <div class="col-lg-4">
            <h1><span class="glyphicon glyphicon-{{list.icon}}"></span> {{list.title}}</h1>
            <ul class="list-group">
                {% for hashtag in list.hashtags %}
                <li class="list-group-item"><a href="/hashtag/{{hashtag.hashtag | replace('#','')}}">#{{hashtag.hashtag | replace('#','') }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

