doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title #{title} - Hashtagivist
        script(type='text/javascript', src='/js/underscore.js')
        script(type='text/javascript', src='/js/jquery.js')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/stylesheet.css')
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    button.navbar-toggle
                        span.src-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Hashtagivist 
                .collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.alternative
                            a.btn.btn-primary(href='/') Submit # campaign

        .masthead
            .container 
                .lead.categories
        script(type='text/javascript').

            var colors = [
                "FF6699","00CC99","6666FF","00CC66","FF3333","FF6600","3366FF","3399FF","FFCC00"
            ];

            var categories = [
                'Diversity','LGBT','Gender','Eco','Health','War','Economy','Poverty','Education'
            ];

            var row;
            _.each(categories, function(category, i){
                if(i==0){
                //if(i % 3 == 0){
                    row = $("<div>").addClass("row");
                    $(".categories").append(row);
                }

                row.append($("<div>").addClass("col-lg-4").append(
                    $("<button>").addClass("hashtag").text(category).addClass("btn").addClass("btn-block").addClass("btn-lg")
                        .addClass("btn-outline-inverse")
                ));
            });

        .container
            .main-content
                block content
            .sidebar
                block sidebar
            footer
                p Running on node with Express, Jade and Stylus
